################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

/ConsulDemo.APIA/bin/Debug/netcoreapp3.1
/ConsulDemo.APIA/obj/Debug/netcoreapp3.1
/ConsulDemo.APIB/bin/Debug/netcoreapp3.1
/ConsulDemo.APIB/obj/Debug/netcoreapp3.1
/ConsulDemo.APIBB/bin/Debug/netcoreapp3.1
/ConsulDemo.APIBB/obj/Debug/netcoreapp3.1
/ConsulDemo.APIGateway/bin/Debug/netcoreapp3.1
/ConsulDemo.APIGateway/obj/Debug/netcoreapp3.1
/Demo.ApplicationApi/bin/Debug/netcoreapp3.1
/Demo.ApplicationApi/obj/Debug/netcoreapp3.1
/Demo.ConsoleClient/bin/Debug/netcoreapp3.1
/Demo.ConsoleClient/obj/Debug/netcoreapp3.1
/Demo.IdentityServerApi/bin/Debug/netcoreapp3.1
/Demo.IdentityServerApi/obj/Debug/netcoreapp3.1
/Demo.WebApi.WebApiThrottleTest/obj/Debug/netcoreapp3.1
/Demo.Winform.SeriLogTest/bin/Debug
/Demo.Winform.SeriLogTest/obj/Debug
/DemoConsole/bin/Debug/netcoreapp3.1
/DemoConsole/obj/Debug/netcoreapp3.1
/EventBus/bin/Debug/netcoreapp3.1
/EventBus/obj/Debug/netcoreapp3.1
/NetCoreStudy.Core.Domain/bin/Debug/netcoreapp3.1
/NetCoreStudy.Core.Domain/obj/Debug/netcoreapp3.1
/NetCoreStudy.Core.Infrastructure/bin/Debug/netcoreapp3.1
/NetCoreStudy.Core.Infrastructure/obj/Debug/netcoreapp3.1
/NetCoreStudy.Domain/bin/Debug/netcoreapp3.1
/NetCoreStudy.Domain/obj/Debug/netcoreapp3.1
/NetCoreStudy.Infrastructure/bin/Debug/netcoreapp3.1
/NetCoreStudy.Infrastructure/obj/Debug/netcoreapp3.1
/NetCoreStudy.WebAPI/bin/Debug/net5.0
/NetCoreStudy.WebAPI/obj/Debug/net5.0
NetCoreStudy.WebAPI/obj/project.nuget.cache
*.json
.vs/NetCoreStudy/v16/.suo
.vs/NetCoreStudy/v17/.suo
.vs/NetCoreStudy/v16/.suo
*.sqlite
*.json
*.props
*.targets
NetCoreStudy.WebAPI/obj/project.nuget.cache
*.json
*.cache
*.cache
*.json
*.props
*.targets
*.cache
.vs/NetCoreStudy/v16/.suo
.vs/NetCoreStudy/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreStudy/DesignTimeBuild/.dtbcache.v2
NetCoreStudy.WebAPI/obj/project.nuget.cache
.vs/NetCoreStudy/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreStudy/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreStudy/v16/.suo
ConsulDemo.APIA/obj/project.assets.json
ConsulDemo.APIA/obj/project.nuget.cache
.vs/NetCoreStudy/v16/.suo
.vs/